APP_ENV=staging
PORT=8080

DB_DSN=postgres://postgres:1212@db:5432/resocialization_v2_staging?sslmode=disable

JWT_SECRET=troque-este-segredo-no-staging
FRONTEND_URL=http://localhost:25173

OAB_CNA_KEY=

SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=noreply-staging@rehabtat.local

PIX_KEY=
PIX_MERCHANT_NAME=REHABTAT STAGING
PIX_MERCHANT_CITY=CHAPECO
